@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif'; 
    background-color: #f8f4f0;
    box-sizing: border-box;
  }
  
  :root{
    --secondary--text--color: #1e3a2b;
    --padding-inline-section: 20px ;

  }

  h1{
    color: var(--primary-text-color);
  }

  p{
    color: #1e3a2b;
  }
  h2{
    text-align: center;
    color: #1e3a2b;
    font-weight: bolder;
  }
  h3{
    color: darkblue;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: red;
    /* --- */
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);

  }
  .fix{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;

  }
  
  .container img{
    height: 20px;
    width: 20px;
  }

  
  /*------------------------------ Footer --------------------------------------------------- */
 /*----------------------------------------------------------------------------------------- */

 .footer {
  background-color: #cfdcff;
  padding: 30px 0;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: darkblue;
}

.footer-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #333;
  text-decoration: none;
}

ul li a:hover {
  color: #007bff;
}
.cover:hover{
  color: #007bff;
}
/*********************Social-Media**************************************/

/* Styles for the watermark container */
#watermark-container {
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  pointer-events: none; /* Ensures the watermark doesn't interfere with user interaction */
}


#watermark-text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  /* float: right; */
  margin-bottom: 1px;
  
}

 /* Styles for the Instagram icon container */
.instagram-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  

}

/* Styles for the Instagram icon */
.instagram-icon img {
  width: 30px; 
  height: 30px; 
  margin-right: 10px; 
}





/*------------------------------------Gallery---------------------------------------------*/
/* Main Gallery Page */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.photo-card {
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}

.description {
  padding: 10px;
  
}

.related-photos {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.related-photo {
  margin: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.related-photo:hover {
  transform: scale(1.1);
}
/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
}
.gallery-item img{
  border-radius: 5px;
}

.gallery-image {
  width: 20vmax;
  height: auto;
  
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} 
